*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: poppins, sans-serif;
}

body{
  background-color: #081b29;
}

.menu{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  padding: 20px 10%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: transparent;
}

.logo{
  position: relative;
  font-size: 50px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.logo::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height: 100%;
  background:black;
  animation: showRight 2s ease forwards;
  animation-delay: .4s;
}

.nav-bar a{
  font-size: 18px;
  color:#ededed;
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
  transition: 1s;
}

.nav-bar a:hover ,.nav-bar a.active{
  color:#00abf0;
}

.nav-bar::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height: 100%;
  background:black;
  animation: showRight 2s ease forwards;
  animation-delay: .4s;
}


.home{
  background: url(/wallpaper\ 3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color:#ededed;
  display: flex;
  justify-content: center;
  height:150vh;
  padding: 0px 10px;
  align-items: center;
  flex-direction: column;
}

.home-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width:1000px;
  height: 300px;
  line-height: 30px;
}

.home-content h2{
  font-weight: 700;
  line-height: 1.2;
}

.home::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height: 100%;
  background:black;
  animation: showRight 4s ease forwards;
  animation-delay: .5s;
}
.home .btn-box{
  position: relative;
  display:flex;
  justify-content: center;
  width:200px;
  height: 50px;
  background-color: transparent;
}

.home .btn-box::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height: 100%;
  background:black;
  animation: showRight 1s ease forwards;
  animation-delay: .2s;
  z-index: 1;
}
.btn-box a{
  position: relative;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width:150px;
  height:100%;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
}
.btn-box a:nth-child(1){
  background-color: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(1):hover{
  color:#081b29;
}


.btn-box a::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:0;
  height: 100%;
  background-color: #00abf0;
  z-index: -1;
  transition:2s;
}

.btn-box a:hover::before{
   width: 100%;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.social-media{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:100px;
  align-items: center;
}

.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height:40px;
  font-size: 50px;
  color:#00abf0;
  text-decoration: none;
}

@keyframes showRight{
  100%{
    width:0;
  }
}

p{
  font-size: 20px;
  font-family: sans-serif;
}